http://www.xxxx.com {
 redir https://xxx.com{url}
}
http://XXXX.COM {
 redir https://XXXX.COM{url}
}
https://XXX.COM {
 filemanager /XXXX /XXX/XXX/ {
 database /etc/ssl/caddy/filemanager/filemanager.db
}
 gzip
 log /xxx/xxx.log {
	rotate_size 1024
	rotate_age 365
	rotate_keep x
 except /xxxxxx
}
 root /XXX/XXXX
 index index.html
 timeouts none
 header / Strict-Transport-Security "max-age=31536000;"
 tls XXX@XXX.COM {
 key_type p256
}
 proxy /XXXXX localhost:10000 {
 websocket
  }
}
