http://XXXX.COM {
 redir https://XXXX.COM{url}
}
https://XXX.COM {
 gzip
 root /xxx/xxx
 index index.html
 timeouts none
 header / Strict-Transport-Security "max-age=31536000;"
 tls XXX@XXX.COM {
 protocols tls1.2 tls1.3
 must_staple
}
 proxy /XXXXX localhost:10000 {
 websocket
  }
}
