http://www.xxxx.com {
 redir https://xxx.com{url}
}
http://XXXX.COM {
 redir https://XXXX.COM{url}
}
https://XXX.COM {
 gzip
 log /xxx/xxx.log {
	rotate_size 1024
	rotate_age 365
	rotate_keep x
 except /xxxxxx
}
 root /XXX/XXXX
 index index.html
 timeouts none
 header / Strict-Transport-Security "max-age=31536000;"
 tls XXX@XXX.COM {
 protocols tls1.2 tls1.3
 must_staple
}
 proxy /XXXXX localhost:10000 {
 websocket
  }
}
